@font-face {
  font-family: 'Druk Condensed';
  src: url('./fonts/DrukCondCy-Super-Web.woff2') format('woff2');
}

:root {
  /* --box-stroke: linear-gradient(
    to bottom,
    rgba(197, 106, 0) 0%,
    rgba(154, 154, 154) 100%
  );
  --box-cal-event-color: linear-gradient(
    to bottom,
    rgba(195, 177, 189) 0%,
    rgba(182, 194, 203) 100%
  ); */
  background-image: url('../public/mymind-XUlsF9LYeVk-unsplash.jpg');
  background-size: cover;
  background-position: 20% 100%;
}

div {
  margin: 10px;
  /* border: 1px white solid; */
}

.header {
  vertical-align: middle;
  display: inline-block;
  font-family: 'Druk Condensed';
  font-style: normal;
  text-transform: uppercase;
  font-size: 2rem;
}

.druk {
  /* vertical-align: middle; */
  /* display: inline-block; */
  font-family: 'Druk Condensed';
  font-style: normal;
  text-transform: uppercase;
  font-size: 2rem;
}

.header-right {
  float: right;
  vertical-align: middle;
  margin-top: 10px;
  /* display: flex; */
  align-items: center;
}

.header-right-child {
  /* vertical-align: middle; */
  margin-top: 10px;
}

.header-logout {
  cursor: 'pointer';
  position: relative;
}

.splashscreen {
  font-family: 'Druk Condensed';
  font-size: 6rem;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
}

.logo-splashscreen {
  margin-top: 100px;
  padding: 5px;
  width: 250px;
}

.logo-header {
  vertical-align: middle;
  margin-top: 10px;
  width: 100px;
}

#signInDiv {
  margin-top: 30px;

  /* border: 1px white solid; */
}

.header-container {
  /* border: 1px white solid; */

  /* margin-left: 5%; */
  /* margin-right: 5%; */
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 0px;
}

.container {
  /* margin-left: 5%; */
  /* margin-right: 5%; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.cal-event {
  display: flex;
  flex-direction: column;
}

.text-outside-boxes {
  color: white;
}

h1 {
  font-size: 1.75rem;
  font-weight: 600;
  font-style: normal;
  line-height: 34px;
  /* letter-spacing: 0.0038em; */
}

.todo-toggle-container {
  /* border: 1px greenyellow solid; */
}

.event-was-selected {
  background-color: whitesmoke;
}

p {
  /* border: 1px white solid; */
  font-size: 1rem;
  font-family: 'SF Pro Display';
  font-weight: 500;
  font-style: normal;
  line-height: 21px;
  letter-spacing: -0.0031em;
}

.text-regular {
  font-weight: 400;
  /* line-height: 22px; */
  letter-spacing: -0.0043em;
}

.rounded-box {
  /* opacity: 0; */
  /* min-height: 300px; */
  /* border-radius: 15px; */
  /* background-color: rgba(255, 255, 255, 0.2); */
  /* box-shadow: 0px 12px 24px rgba(0, 0, 0); */
  /* backdrop-filter: blur(10px); */
}

.cal {
  max-height: 300px;
  min-width: 100%;
}

.rounded-box-cal-event {
  /* opacity: 1; */

  /* margin-top: 5%; */
  border: 1px gray solid;
  border-radius: 15px;
  background: linear-gradient(rgba(182, 194, 203, 0.4), rgba(203, 202, 213));

  /* box-shadow: 0px 12px 24px rgba(0, 0, 0); */
  backdrop-filter: blur(12px);
  margin-bottom: 5%;
}

.inside-margin {
  /* vertical-align: center; */
  /* margin-left: 5%;
  margin-right: 5%; */
}

.delete-button {
  position: absolute;
  float: right;
  /* right: 5%; */
  /* display: block; */
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sketchpad {
  /* margin-left: 1%;
  margin-right: 1%; */
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.canvas {
  /* background-color: rgba(255, 255, 255, 0.2); */

  /* border-radius: 15px; */
  touch-action: none;
  /* margin-left: 1%; */
  /* margin-right: 1%; */
  width: 100vw;
  height: 100vh;
}

.rectangle {
  position: absolute;
  /* transition: all 0.1s ease; */
  stroke-width: 1;
  border-style: solid;
  border-width: 2px;
  height: 100px;
  width: 100px;
}

.toolbar {
  position: fixed;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1),
    0px 0px 0px 1px rgba(0, 0, 0, 0.05);
  display: flex;
  background-color: #ffffff;
  user-select: none;
}

.toolbar button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #f8f8f8;
  color: #181818;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1),
    0px 0px 0px 1px rgba(0, 0, 0, 0.05);
  margin: 4px;
  font-weight: 500;
  font-size: 12px;
}

.toolbar button:hover,
.toolbar button:focus {
  background-color: #ffffff;
}

.toolbar button:active {
  background-color: #eeeeee;
}

.button-inter {
  float: right;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  margin: 0px 0px 5px 0px;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.button-inter:hover,
.button-inter:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  /* color: rgba(0, 0, 0, 0.65); */
}

.button-inter:hover {
  transform: translateY(-1px);
}

.button-inter:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.button-delete {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 1);
  float: right;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  margin: 0px 0px 0px 5px;
  /* padding: calc(0.875rem - 1px) calc(1.5rem - 1px); */
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.button-delete:hover,
.button-delete:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  /* color: rgba(0, 0, 0, 0.65); */
}

.button-delete:hover {
  transform: translateY(-1px);
}

.button-delete:active {
  /* background-color: #f0f0f1; */
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.container-minimal {
  float: right;
  /* align-items: center; */
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  /* box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0; */
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  margin: 0px 0px 5px 0px;
  /* padding: calc(0.875rem - 1px) calc(1.5rem - 1px); */
  /* transition: all 250ms; */
}

.agenda-input {
  /* float: right; */
  /* align-items: center; */
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  /* box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0; */
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  margin-top: calc(0.875rem - 1px);
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  /* transition: all 250ms; */
}

.todo-input {
  /* float: right; */
  /* align-items: center; */
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  /* box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0; */
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  /* margin-top: calc(0.875rem - 1px); */
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  /* transition: all 250ms; */
}

.assign-to-selector {
  background-color: rgba(255, 255, 255, 0.2);
  /* float: right; */
  /* align-items: center; */
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  /* box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0; */
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  /* margin-top: calc(0.875rem - 1px); */
  /* padding: calc(0.875rem - 1px) calc(1.5rem - 1px); */
  /* transition: all 250ms; */
}

.container-agenda {
  /* float: right; */
  /* align-items: center; */
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  /* box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0; */
  box-sizing: border-box;
  /* display: inline-flex; */
  /* justify-content: center; */
  /* margin: 0px 0px 5px 0px; */
  /* padding: calc(0.875rem - 1px) calc(1.5rem - 1px); */
  /* transition: all 250ms; */
  min-height: 300px;
  /* border-radius: 15px; */
  /* background-color: rgba(255, 255, 255, 0.2); */
  /* box-shadow: 0px 12px 24px rgba(0, 0, 0); */
  backdrop-filter: blur(10px);
}

/* checkbox-circle */
.checkbox-circle input[type='checkbox'] {
  display: none;
}
.checkbox-circle input[type='checkbox'] + label {
  /* display: block; */
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  /* font: 14px/20px 'Open Sans', Arial, sans-serif; */
  cursor: pointer;
}

.checkbox-circle input[type='checkbox']:hover + label:before {
  border: 1px solid #343a3f;
  width: 1.2em;
  height: 1.2em;
  border: 2px solid #fff;
  background: #50565a;
  box-shadow: 0 0 0 1px #000;
}
.checkbox-circle input[type='checkbox'] + label:last-child {
  margin-bottom: 0;
}
.checkbox-circle input[type='checkbox'] + label:before {
  content: '';
  display: block;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid #343a3f;
  border-radius: 1em;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.2s, transform 0.3s ease-in-out;
  transition: all 0.2s, transform 0.3s ease-in-out;
  background: #f3f3f3;
}
.checkbox-circle input[type='checkbox']:checked + label:before {
  border-radius: 1em;
  border: 2px solid #fff;
  width: 1.2em;
  height: 1.2em;
  background: #8ee277;
  box-shadow: 0 0 0 1px #000;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
/* checkbox-circle end */

/* checkbox-rect */
.checkbox-rect input[type='checkbox'] {
  display: none;
}

.checkbox-rect input[type='checkbox'] + label {
  /* display: block; */
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
}
.checkbox-rect input[type='checkbox']:hover + label:before {
  background: #50565a;
  box-shadow: inset 0px 0px 0px 2px #f7f2f2;
}
.checkbox-rect input[type='checkbox'] + label:last-child {
  margin-bottom: 0;
}
.checkbox-rect input[type='checkbox'] + label:before {
  content: '';
  display: block;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid #343a3f;
  border-radius: 0.2em;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.2s, background 0.2s ease-in-out;
  transition: all 0.2s, background 0.2s ease-in-out;
  background: #f3f3f3;
}
.checkbox-rect input[type='checkbox']:checked + label:before {
  width: 1.3em;
  height: 1.3em;
  border-radius: 0.2em;
  border: 2px solid #fff;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background: #8ee277;

  box-shadow: 0 0 0 1px #000;
}
/* checkbox-rect end */

.rectangle {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.7);
  word-break: break-word;
  overflow-y: scroll;
}

.cal-container {
  /* border: #8ee277 1px solid; */
  /* min-height: 300px; */
  max-height: 395px;
  overflow-y: auto;
  /* background-color: rgba(255, 255, 255, 0.2); */
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0.5))
  );
}

.agenda-test {
  /* border: #8ee277 1px solid; */
  /* min-height: 300px; */
  /* overflow-y: scroll; */
}
